
all:
  children:
    prod:
      hosts:
        server:
          ansible_host: {{ hetzner_create_server.hcloud_server.ipv4_address }}
          ansible_user: root
          
          
          





